<div class="">
  <form class="main" [formGroup]="signInForm">
    <p>login!</p>
    <div *ngIf="isAuthent">
      <p style="color: red;" >
     {{errorMsg}}
      </p> 
     </div>
    <input type="text"
     placeholder="username" 
     formControlName="userName" />
    <input 
    type="password"
     placeholder="password" 
     formControlName="password" />
    <button style="margin-top: 10px" (click)="onSubmit($event)">Signin</button>
  </form> 
</div>

fontsize in parent {{fontSize}} =====> {{name}}
<hr>

<div>
  <app-counter [size]="fontSize"  [name]="name" (nameChange)="name=$event" (sizeChange)="fontSize=$event"></app-counter>
</div>
<a routerLink="/dashboard">dashboard</a>