<div class="" style="margin-top: 20px; text-align: center">
  <form class="billForm" [formGroup]="billForm">
    <input type="number" placeholder="$ 0.0" formControlName="amount" />
    <textarea
      placeholder="Describe..."
      rows="5"
      cols="25"
      formControlName="describe"
    ></textarea>
    <button class="" (click)="addBill($event)"><span>Add bill</span></button>
    <button (click)="getTotal()">gettotal</button>
  </form>
</div>
<a routerLink="/login">login</a>
<div class="dashboard">
  <p class="heading">BMS dashboard !</p>
  <div class="main">
    <div class="dayWise">
      dayswise expenses
      <ul *ngFor="let bill of bills; let i = index">
        <li>
          {{ i + 1 }} : {{ bill.amount | currency }}
          <span>{{ bill.describe }}</span>
        </li>
      </ul>
    </div>
    <div class="vl"></div>
    <div class="mnthWise">
      Monthly expenses
      <ul *ngFor="let bill of bills; let i = index">
        <li>
          {{ i + 1 }} : {{ bill.amount | currency }}
        </li>
      </ul>
      <span *ngIf="total"> <b>TOTAL :  {{total |currency}}</b></span>
    </div>
  </div>
</div>
<div>======</div>
<div>======</div>
<div>======</div>
<div>======</div>
<div>======</div>
<h1>My Angular Application with Keycloak</h1>

		<button *ngIf="isLogueado" type="button" (click)="cerrarSesion()">Clear session</button>

		<ng-container *ngIf="perfilUsuario">
		  <h2>User information</h2>
		  <table>
		    <tr *ngIf="perfilUsuario.username">
		      <th scope="row">User</th>
		      <td>{{ perfilUsuario.username }}</td>
		      <td>{{ perfilUsuario | json }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.firstName">
		      <th scope="row">Primer Nombre</th>
		      <td>{{ perfilUsuario.firstName }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.lastName">
		      <th scope="row">Segundo Nombre</th>
		      <td>{{ perfilUsuario.lastName }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.email">
		      <th scope="row">Correo Electronico</th>
		      <td>{{ perfilUsuario.email }}</td>
		    </tr>
		    <tr>
		      <th scope="row">Email Verified</th>
		      <td>{{ perfilUsuario.emailVerified ? 'Si' : 'No' }}</td>
		    </tr>
		  </table>
		</ng-container>