<div class="" style="margin-top: 20px; text-align: center">
  <form class="billForm" [formGroup]="billForm">
    <input type="number" placeholder="$ 0.0" formControlName="amount" />
    <textarea
      placeholder="Describe..."
      rows="5"
      cols="25"
      formControlName="describe"
    ></textarea>
    <button class="" (click)="addBill($event)"><span>Add bill</span></button>
    <button (click)="getTotal()">gettotal</button>
  </form>
</div>

<div class="dashboard">
  <p class="heading">BMS dashboard !</p>
  <div class="main">
    <div class="dayWise">
      dayswise expenses
      <ul *ngFor="let bill of bills; let i = index">
        <li>
          {{ i + 1 }} : {{ bill.amount | currency }}
          <span>{{ bill.describe }}</span>
        </li>
      </ul>
    </div>
    <div class="vl"></div>
    <div class="mnthWise">
      Monthly expenses
      <ul *ngFor="let bill of bills; let i = index">
        <li>
          {{ i + 1 }} : {{ bill.amount | currency }}
        </li>
      </ul>
      <span *ngIf="total"> <b>TOTAL :  {{total |currency}}</b></span>
    </div>
  </div>
</div>
